In [1]:
'''Answer1 = For loop is used when itreation is already known, for example'''

'Answer1 = For loop is used when itreation is already known, for example'

In [9]:
l = [1,3,2,3,4,5,6,67,7,8]
for i in l:
    print(i)

1
3
2
3
4
5
6
67
7
8

In [10]:
'''While while is used when iteration is unknown. For example'''

'While while is used when iteration is unknown. For example'

In [11]:
a = int(input("Enter your Number"))
counter = 1
point1 = 0
while counter<=a:
    point1 = point1 + counter
    counter = counter + 1
print(point1)

Enter your Number 5

15

In [12]:
'''Answer 2 '''

'Answer 2 '

In [19]:

b=0
for i in range(0,11):
    b = b+i
    i = i+1
print(b)

55

In [20]:
a = int(input("Enter Your Natural Number"))
b = 0
counter=1
while counter<=a:
    b = b+counter
    counter = counter + 1
print(b)

Enter Your Natural Number 10

55

In [22]:
'''Answer Number = 3'''

'Answer Number = 3'

In [4]:
inp = int(input("Enter used unit"))
price=0
if inp<=100:
    price=inp*4.5
if inp<=200:
    price=100*4.5
    price+=(inp-100)*6
if inp<=300:
    price=100*4.5
    price+=100*6
    price+=(inp-200)*10
if inp>300:
    price=100*4.5
    price+=100*6
    price+=100*10
    price+=(inp-300)*20
price

Enter used unit 310

2250.0

'''Answer 4'''

In [11]:
ls=[]
for i in range(1,101):
    if i**3%4==0:
        ls.append(i**3)
    elif i**3%5==0:
        ls.append(i**3)
ls

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [14]:
ls=[]
i=1
while i<=100:
    if i**3%4==0:
        ls.append(i**3)
    elif i**3%5==0:
        ls.append(i**3)
    i+=1
ls

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [12]:
sent = "I want to become a data scientist"
v = ['a','e','i','o','u']
l1 = []
l2 = []
for i in sent:
    if i in v:
        l1.append(i)
a = l1.count('a')
e,i,o,u = l1.count('e'),l1.count('i'),l1.count('o'),l1.count('u')
l2.append(a)
l2.append(e)
l2.append(i)
l2.append(o)
l2.append(u)
l2
l1

['a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']

In [45]:
l2

['a', 'a', 'a', 'a']